@font-face {
    font-family: 'Minecraft';
    src: url(Minecraft.ttf); /* Path to the font file */
}
canvas {
    margin: 0;
    position: absolute;
}
head {
    margin: 0;
}
body {
    margin: 0;
    background-color: black;
    font-family: 'Minecraft';
}
div {
    display: none;
    position: relative;
    
}
h1 {
    position: absolute;
    color: white;
    left: 670px;
    top: 225px;
}
h2 {
    position: absolute;
    color: white;
    top: 300px;
}
#esc {
    left: 470px;
}
#enter {
    top: 400px;
    left: 470px;
}
#backspace {
    left: 820px;
}
